.image{
    width: 70px;
    height: auto;
}

.main{
    padding-top: 20px !important;
}

.index{
    text-align: center;
    border: 2px solid black;
    align-content: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 40px;
}

.indexContent{
    padding-left: 5px;
    padding-right: 5px;
}

.picture{
    text-align: center;
    border: 2px solid black;
    border-left: none;
    align-content: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 200px;

}

.pictureContent{
    padding-top: 20px;
    padding-bottom: 20px;
}

.title{
    padding:10px;
}

.position{
    display: flex;
    padding: 0px;
}


.pad{
    padding-bottom: 5px;
    justify-content: center;
}

.informationContent{
    padding-top: 20px;
    padding-bottom: 20px;
}

.list{
    list-style-type: none;
}

.description{
    border: 2px solid #87ceeb;
    border-top: none;
    width: 640px;
    padding: 10px;
    background: #d7f3fe;
}

@media screen and (min-width: 1201px) {
    .filter{
        padding: 20px;
    }

    .backgrounder{
        background-color: #f1f1f1;
        height: 200px;
    }
    .information{
      text-align: center;
      border: 2px solid black;
      border-left: none;
      width: 400px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .marginer{
        margin: 12px;
        width: 639px;
    }

    .padder{
        padding: 10px;
    }

    .information{
      text-align: center;
      border: 2px solid black;
      border-left: none;
      width: 600px;
    }
}

@media screen and (min-width: 991px) and (max-width: 999px) {
    .marginer{
        margin: 12px;
        width: 67%;
    }

    .padder{
        padding: 10px;
    }
    .information{
      text-align: center;
      border: 2px solid black;
      border-left: none;
      width: 600px;
    }
}

@media screen and (min-width: 771px) and (max-width: 990px) {
    .marginer{
        margin: 12px;
        width: 89%;
    }

    .padder{
        padding: 10px;
    }

    .information{
      text-align: center;
      border: 2px solid black;
      border-left: none;
      width: 600px;
    }
}

@media screen and (min-width: 601px) and (max-width: 770px) {
  .marginer{
      margin: 12px;
      width: 89%;
  }

  .padder{
      padding: 10px;
  }

  .information{
    text-align: center;
    border: 2px solid black;
    border-left: none;
    width: 600px;
  }
  .description{
    border: 2px solid #87ceeb;
    border-top: none;
    background: #d7f3fe;
    width: 100%;
}
}

@media screen and (min-width: 500px) and (max-width: 765px) {
    .marginer{
        margin: 12px;
        width: 95%;
    }

    .padder{
        padding: 10px;
    }
}

@media screen and (min-width: 766px) and (max-width: 800px) {
    .marginer{
        margin: 12px;
        width: 89%;
    }

    .padder{
        padding: 10px;
    }
}


@media screen and (max-width: 500px) {
    .fontSize{
      font-size: 16px;
    }

    .marginer{
        margin: 12px;
        width: 94%;
    }

    .description{
        border: 2px solid #87ceeb;
        border-top: none;
        width: 100%;
        padding: 10px;
        background: #d7f3fe;
    }

    .padder{
        padding: 10px;
    }
}

@media screen and (max-width: 300px) {
    .fontSize{
      font-size: 10px;
    }

    .marginer{
        margin: 12px;
        width: 92%;
    }

    .padder{
        padding: 10px;
    }

    .paddler{
      padding-left: 21px;
      padding-right: 21px;
    }

    .description{
      border: 2px solid #87ceeb;
      border-top: none;
      width: 100%;
      padding: 10px;
      background: #d7f3fe;
    }
}


.stars{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconColor{
    color:#ffd43b
}

.spanClass{
    padding: 25px;
}

.backgrounder{
    background-color: #f1f1f1;
    border: 2px solid black;
}

.autoWidth{
    width: auto;
}

.content{
  justify-content: end;
}

.bordersmall{
  border:2px solid black
}

.smalltitle{
  padding: 15px;
}

@media screen and (max-width: 1201px) {
  .displayer {
    visibility: hidden;
    display: none;
  }
}


@media screen and (min-width: 1201px){
  .displayer2 {
    visibility: hidden;
    display: none;
  }
}

@media screen and (max-width: 601px){
  .displayer2 {
    visibility: hidden;
    display: none;
  }
  .paddler{
    padding-left: 26px;
    padding-right: 26px;
  }
}

@media screen and (min-width: 601px){
  .displayer3 {
    visibility: hidden;
    display: none;
  }
}

.picPadding{
  padding-left: 20px;
  padding-right: 20px;

}

.starsmall{
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.pricer{
  display: flex;
  justify-content: end;
  padding: 10px;
}
