.image{
    width: 70px;
    height: auto;
}

.index{
    text-align: center;
    border: 2px solid black;
    align-content: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 40px;
}

.indexContent{
    padding-left: 5px;
    padding-right: 5px;
}

.picture{
    text-align: center;
    border: 2px solid black;
    border-left: none;
    align-content: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    
}

.pictureContent{
    padding-top: 20px;
    padding-bottom: 20px;
}

.title{
    padding:10px
}

.position{
    display: flex;
    padding: 0px;
}

.information{
    text-align: center;
    border: 2px solid black;
    border-left: none;
    width: 400px;
    
}

.pad{
    padding: 5px;
}

.informationContent{
    padding-top: 20px;
    padding-bottom: 20px;
}

.list{
    list-style-type: none;
}

.description{
    border: 2px solid black;
    border-top: none;
    width: 640px;
}


@media screen and (max-width: 576px) {
    .fontSize{
      font-size: 16px;
    }

    .description{
        border: 2px solid black;
        border-top: none;
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .fontSize{
      font-size: 10px;
    }

    .description{
        border: 2px solid black;
        border-top: none;
        width: 100%;
    }
}


.stars{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconColor{
    color:#ffd43b
}